[respond]
[include mainsail.cfg]
[include config/fan.cfg]
[include config/stepper.cfg]
[include macros/macro.cfg]
[include K-ShakeTune/*.cfg]
[include MotorSync.cfg]

[force_move]
enable_force_move: True


[exclude_object]
[pause_resume]
recover_velocity: 100
[respond]   #activate message
[gcode_arcs]  #activate round corner
resolution: 0.1

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 10.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 10.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 10.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 0.50   ; the value to retract while PAUSE
variable_cancel_retract   : 0.80   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 0.80   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 10  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 10  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : "filament_motion_sensor encoder_sensor"    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything insight the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything insight the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything insight the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

########################
########################
# Printer
########################

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 35000
minimum_cruise_ratio: 0.5
max_z_accel: 50
max_z_velocity: 20
square_corner_velocity: 7

[mcu]
canbus_uuid: 494fe1b63264


[mcu host]
serial: /tmp/klipper_host_mcu

[temperature_sensor Octopus]
sensor_type: temperature_mcu
max_temp: 100

[temperature_sensor PI]
sensor_type: temperature_host
min_temp: 10
max_temp: 100 

[mcu EBBCan]
canbus_uuid: cd88c816729d


[mcu scanner]
canbus_uuid: 05286e8964e1 

########################
########################
# EXTRUDER
########################

#[firmware_retraction]
#retract_speed: 40
#retract_length: 0.7
#unretract_extra_length: 0
#unretract_speed: 40

[extruder]                          
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16                     
full_steps_per_rotation: 200

rotation_distance: 35.8    # 10t
gear_ratio: 60:10          # 10t

rotation_distance: 35.8    # 8t
gear_ratio: 60:8          # 8t

nozzle_diameter: 0.400              
filament_diameter: 1.75             
heater_pin: EBBCan: PB13          
sensor_type: PT1000

sensor_pin: EBBCan: PA3 
#pullup_resistor: 4700
      
min_temp: 0                     
max_temp: 450                      
max_power: 1.0                      
min_extrude_temp: 170               
pressure_advance: 0.025             
pressure_advance_smooth_time: 0.040 
max_extrude_only_distance: 500.0   
max_extrude_cross_section: 250

#control: pid 
#pid_kp: 18.295             
#pid_ki: 0.678             
#pid_kd: 123.484
step_pulse_duration: 0.000004   


[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.86
stealthchop_threshold: 999999

########################
########################
# HEIZBED
########################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF3
control: watermark
min_temp: 0
max_temp: 120
max_power: 0.7


########################
########################
## LED
########################

#[neopixel bed_rgb]
#pin: PB10 

[z_tilt]
z_positions: 
              47, 150
              380, 150
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points: 
        30, 150
        250, 150
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 100
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 5
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.025
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.

########################
########################
### Probe
########################

[scanner]
mcu: scanner            
x_offset: 0                          
y_offset: 23                         
backlash_comp: 0.00274
sensor: cartographer
sensor_alt: carto
mesh_runs: 2



[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    155, 155, 20

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105

########################
########################
### Mesh
########################
[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 10, 31
mesh_max: 310, 260
mesh_pps: 0,0
move_check_distance: 3
probe_count: 50,50
algorithm: bicubic
zero_reference_position: 155.00,150.00

[safe_z_home]
home_xy_position: 150, 150
z_hop: 10

########################
########################
### Motor Sync
########################
[motors_sync]
axes: x,y
#    Axes on which calibration will be performed.
accel_chip: adxl345
chip_filter: median
#    Filter type for data from the accelerometer: 'median' works well in
#    most cases, but some particularly noisy printers (fans, etc.) may
#    require a more powerful filter - 'kalman'. On lis2dw filters disabled.
#median_size: 3
#    Median filter window size.
#kalman_coeffs: 1.1, 1., 1e-1, 1e-2, .5, 1.
#    Simple coefficients describing the kalman filter.
microsteps: 16
#sync_method: default
#    Methods for synchronizing two axes on interconnected kinematics:
#    'alternately' - the axes calibrated alternately, step by step. (default)
#    'synchronous' - the axes calibrated depending on their magnitude,
#    trying to keep it at the same level.
#    Methods for synchronizing axis/axes on NOT-interconnected kinematics:
#    'sequential' - axes are calibrated sequentially. (default)
#model: linear
#    Model of the dependence of the microstep displacement of a stepper
#    motor on the magnitude of the measured oscillations. Supported
#    models: linear, quadratic, power, root, hyperbolic, exponential.
#model_coeffs: 20000, 0
#    Coefficients above the described model, for calculating microsteps.
#max_step_size: 3
#    The maximum number of microsteps that the motor can take move at time,
#    to achieve the planned magnitude.
#axes_steps_diff: 4
#    The difference in the positions of the motors in microsteps between
#    the two axes, to update the magnitude of the secondary axis. It is
#    used in the synchronous method, or in the process of axis alignment
#    in the alternately method. The typical value is max_step_size + 1.
#retry_tolerance: 0
#    The forced threshold to which a pair of stepper motors on one belt
#    will have to lower the magnitude of the oscillations. It's recommended
#    to configure in order to filter possible inaccuracies. After several
#    iterations of starting synchronization, you will find the edge, to
#    which this parameter should be omitted.
#retries: 0
#    The maximum number of repetitions to achieve the forced threshold of
#    oscillations.
head_fan: hotend_fan
#    Toolhead fan, which will be turned off during sync to eliminate noise.


###################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.621
#*# pid_ki = 2.460
#*# pid_kd = 56.695
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_threshold = 3500
#*# scanner_touch_speed = 3
#*#
#*# [scanner model default]
#*# model_coef = 0.6479247676677428,
#*# 	1.5078358491730237,
#*# 	-0.18962996742075228,
#*# 	-11.54775351124009,
#*# 	5.1940551519166505,
#*# 	47.08659657324608,
#*# 	-11.322174302048095,
#*# 	-68.3530635214925,
#*# 	8.284269121203634,
#*# 	33.73617776353118
#*# model_domain = 3.1912854902757516e-07,3.3153072523257237e-07
#*# model_range = 0.200000,5.100000
#*# model_temp = 40.251921
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.1.0
