[include chopper_tune.cfg]
[respond]
[include mainsail.cfg]
#[include config/fan.cfg]
#[include config/stepper.cfg]
#[include config/wiper.cfg]
[include macros/macro.cfg]
#[include config/kusba.cfg] 
[duplicate_pin_override]
pins: PF5
[force_move]
enable_force_move: True

[gcode_macro FORCE]
gcode:
      SET_KINEMATIC_POSITION X=165 Y=118 Z=20

[exclude_object]
[pause_resume]
recover_velocity: 100
[respond]   #activate message
[gcode_arcs]  #activate round corner
resolution: 0.1

[shaketune]
#result_folder: ~/printer_data/config/ShakeTune_results
 #number_of_results_to_keep: 10
 #keep_raw_data: False
 #show_macros_in_webui: True
 #timeout: 600
 #measurements_chunk_size: 2
 #max_freq: 200
 #dpi: 300

[gcode_macro _CLIENT_VARIABLE]
variable_park_at_cancel_x : 10  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 10  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_runout_sensor    : "filament_motion_sensor encoder_sensor"    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything insight the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything insight the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything insight the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:



########################
########################
# Printer
########################

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 50000
minimum_cruise_ratio: 0.5
max_z_accel: 1000
max_z_velocity: 20
square_corner_velocity: 20

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_130022001151313236343430-if00
restart_method: command

[mcu host]
serial: /tmp/klipper_host_mcu


[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
# Remove either the serial or canbus_uuid line dependant on your setup.
serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_30003B000550315551333620-if00 
restart_method: command # Not needed for probes using CAN. 


[temperature_sensor Octopus]
sensor_type: temperature_mcu
max_temp: 100

[temperature_sensor PI]
sensor_type: temperature_host
min_temp: 10
max_temp: 100 

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105
########################
########################
# EXTRUDER
########################

[extruder]                          
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
microsteps: 16                     
full_steps_per_rotation: 200
rotation_distance: 35.8    # 8t
gear_ratio: 60:8          # 8t
nozzle_diameter: 0.400              
filament_diameter: 1.75             
heater_pin: PA3        
sensor_type: PT1000
sensor_pin:  PF4
#pullup_resistor: 4300
      
min_temp: 0                     
max_temp: 500                    
max_power: 1.0                      
min_extrude_temp: 170               
pressure_advance: 0.025             
pressure_advance_smooth_time: 0.040 
max_extrude_only_distance: 500.0   
max_extrude_cross_section: 250

#control: pid 
#pid_kp: 18.295             
#pid_ki: 0.678             
#pid_kd: 123.484
step_pulse_duration: 0.000004   


[tmc2209 extruder]
uart_pin: PE1
run_current: 0.7
stealthchop_threshold: 0

[firmware_retraction]
retract_length: 0.3
retract_speed: 85
unretract_speed: 85

###############################
# STEPPER
###############################

#[autotune_tmc stepper_x]
#motor: ldo-42sth48-2504ac
#tuning_goal: performance
#voltage: 48

#[autotune_tmc stepper_x1]
#motor: ldo-42sth48-2504ac
#tuning_goal: performance
#voltage: 48

#[autotune_tmc stepper_y]
#motor: ldo-42sth48-2504ac
#tuning_goal: performance
#voltage: 48

#[autotune_tmc stepper_y1]
#motor: ldo-42sth48-2504ac
#tuning_goal: performance
#voltage: 48



#[autotune_tmc stepper_extruder]
#motor: omc-17hs19-2004s1

########################
########################
# Stepper x
########################

[stepper_x] ## Drive 0 h rechts
enable_pin: !PF14
step_pin: PF13  # Drive0
dir_pin: PF12     
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: !PG9
position_endstop: 0
position_max: 315
homing_speed: 100
homing_retract_dist: 0


[tmc5160 stepper_x] 
cs_pin: PC4
spi_bus: spi1
run_current: 2.00
sense_resistor: 0.075
stealthchop_threshold: 0
interpolate: false
driver_TBL: 0
driver_TOFF: 1
driver_HSTRT: 0
driver_HEND: 4

[stepper_x1] ## Drive 1 v links
enable_pin: !PF15
step_pin: PG0  # Drive1
dir_pin: PG1
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200

[tmc5160 stepper_x1] 
cs_pin: PD11
spi_bus: spi1
run_current: 2.00
sense_resistor: 0.075
stealthchop_threshold: 0
interpolate: false
driver_TBL: 0
driver_TOFF: 1
driver_HSTRT: 0
driver_HEND: 4

########################
########################
# Stepper Y
########################

[stepper_y] ### Drive 2 h links
enable_pin: !PG5
step_pin: PF11  # Drive2
dir_pin: !PG3
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: PG10
position_endstop: 0
position_max: 320
homing_speed: 100
homing_retract_dist: 0
#step_pulse_duration: 0.000000100

[tmc5160 stepper_y] 
cs_pin: PC6
spi_bus: spi1

run_current: 2.00
sense_resistor: 0.075
stealthchop_threshold: 0
interpolate: false
driver_TBL: 2
driver_TOFF: 1
driver_HSTRT: 5
driver_HEND: 6

[stepper_y1] ### Drive 3 v rechts
enable_pin: !PA2
step_pin: PG4  # Drive3
dir_pin: PC1
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 40

[tmc5160 stepper_y1] 
cs_pin: PC7
spi_bus: spi1

run_current: 2.00
sense_resistor: 0.075
stealthchop_threshold: 0
interpolate: false
driver_TBL: 2
driver_TOFF: 1
driver_HSTRT: 5
driver_HEND: 6

########################
########################
# Stepper Z
########################
[stepper_z] ## Drive 4 links
enable_pin: !PG2
step_pin: PF9
dir_pin: PF10
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 500
homing_retract_dist: 0.0 # beacon needs this to be set to 0
homing_speed: 10
second_homing_speed: 2.5


[tmc5160 stepper_z] # Drive4
cs_pin: PF2
spi_bus: spi1
run_current: 1.0
interpolate: false
stealthchop_threshold: 0


#diag1_pin: ^!PF3

[stepper_z1] # Drive 5 rechts
enable_pin: !PF1
step_pin: PC13
dir_pin: PF0
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200


[tmc5160 stepper_z1] # Drive 5
cs_pin: PE4
spi_bus: spi1
run_current: 1.0
interpolate: false
stealthchop_threshold: 0
#diag1_pin: ^!PF3

########################
########################
# FANS
########################


########################################
# CPAP 
########################################
[fan] #        CPAP print Cooling Fan\
pin: PB10 # LED RGB
max_power: 0.9 # adjust below 1 if you would like the max speed to be slower
off_below: 0.12 # minimum speed where the fan starts spinning - on octopus pro this is correct - will be lower maybe 0 on mellow Super 8 because of different GPIO pullup and protection resistors
#cycle_time: 0.002 # = 2khz - CPAP fan driver recommended range is 2-50khz
hardware_pwm: true
shutdown_speed: 0
cycle_time: 0.00002 # = 2khz - CPAP fan driver recommended range is 2-50khz


#Macro inspired by klipper-github issue https://github.com/Klipper3d/klipper/issues/2174
[gcode_macro M106]
rename_existing: G106
gcode:
    {% set P = params.P | default(0) | int %}
    {% set S = params.S | default(255) | int %}
    {% if P == 0 %}
        G106 S{S}
    {% else %}
        {% set fan = "RSCS" if P == 2 else "Exhaust_fan" %}
        SET_FAN_SPEED FAN={fan} SPEED={S / 255}
    {% endif %}

[gcode_macro M107]
rename_existing: G107
gcode:
    {% set fan = params.P|default(1)|int %}
	{% if fan == 2 %}
		SET_FAN_SPEED FAN=RSCS SPEED=0
	{% elif fan == 3 %}
		SET_FAN_SPEED FAN=Exhaust_fan SPEED=0   
	{% else %}
	  SET_FAN_SPEED FAN=RSCS SPEED=0  
	  SET_FAN_SPEED FAN=Exhaust_fan SPEED=0  
	  G107
	{% endif %}




########################
########################
# AUX Fans
########################

# this is the auxiliary fan
#[fan_generic RSCS] #FAN 1
#pin: PD12
#cycle_time: 0.1  #0.0001
#hardware_pwm: false
#kick_start_time: 0.2
#off_below: 0.05

##  Chamber temp / Exhaust fan (12V Fan 3 wire)

#[temperature_fan Exhaust_fan] # FAN 4
#pin: PA1
#tachometer_pin: PC3
#max_power: 1.0
#shutdown_speed: 0.1
#cycle_time: 0.0005     #2 kHz PWM signal
#hardware_pwm: true
#kick_start_time: 5.0
#sensor_type: ATC Semitec 104GT-2
#sensor_pin: PB0
#min_temp: 0
#max_temp: 70
#target_temp: 50
#control: watermark
#gcode_id: C



########################
########################
# Watercooling
########################

[thermistor water_temp]
temperature1: 0
resistance1: 27380
temperature2: 30
resistance2: 8311
temperature3: 60
resistance3: 3017

#[temperature_sensor water_cooling]
#sensor_type: water_temp
#sensor_pin: PF5  # Replace with your actual MCU pin
#min_temp: 0
#max_temp: 100
#gcode_id: W

[temperature_fan radiator_fans]
pin: PD15              # Replace with your actual fan pin
sensor_type: water_temp
sensor_pin: PF5        # Same as the sensor above
control: pid
min_speed: 0.4
max_speed: 1.0
shutdown_speed: 0.5  
min_temp: 0
max_temp: 100
target_temp: 35.0      # Target water temperature in Celsius
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 0.1
hardware_pwm: True
cycle_time: 0.00004 # 25 kHz

[controller_fan pump] # FAN6 +-
pin: PD14      #FAN4
fan_speed: 1.0
shutdown_speed: 1.0
heater: extruder
stepper:stepper_x,stepper_y,stepper_z
hardware_pwm: True
cycle_time: 0.00004 # 25 kHz

########################
########################
# HEIZBED
########################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF3
#control: watermark
min_temp: 0
max_temp: 120
max_power: 0.7

#control: pid 
#pid_kp: 45.163            
#pid_ki: 2.105           
#pid_kd: 242.185

########################
########################
## LED
########################

[led caselight]
white_pin: PE5
cycle_time: 0.001
initial_WHITE: 0.20

[gcode_macro Caselight_on]
gcode:  SET_PIN PIN=caselight VALUE=0.5

[gcode_macro Caselight_off]
gcode:  SET_PIN PIN=caselight VALUE=0


##############################################################################
## NOZZLE WIPER - A nozzle purge bucket and brush for the Voron 0.1 and other
##                printers for ants
##
## Configuration:
##
## 1.  Set the correct PWM pin that you connected the Orange wire
##     to in the [servo wipeServo] section replacing XXNN
## 2.  Home X, Y and Z axes
## 3.  Lower Z by at least 35mm
## 4.  Check Position of wiper Start and End position
###############################################################################

[servo wipeServo]
pin: PG11
minimum_pulse_width: 0.0005
maximum_pulse_width: 0.0025
maximum_servo_angle: 180
initial_angle: 10
#initial_pulse_width: 0.0005

[gcode_macro CLEAN_NOZZLE]
gcode:
   G1 Z 25
   SET_SERVO SERVO=wipeServo ANGLE=94  
   G4 P1500
   G1 X155 Y313 F10000                 # Start position Wiper
   G1 X197 F10000                     # End position Wiper
   G1 X155 F10000                     # Start position Wiper
   G1 X197 F10000
   G1 X155 F10000    # End position Wiper
   G1 X197 Y313 F5000                 # custom positio after wipe   
   G4 P1500
   SET_SERVO SERVO=wipeServo ANGLE=10  # OFF

########################
########################
## Z-Tilt
########################

[z_tilt]
z_positions: 
              47, 160
              380, 160
points: 
        30, 118
        300, 118
speed: 300
horizontal_move_z: 5
retries: 7
retry_tolerance: 0.005


########################
########################
### Probe
########################


[cartographer]
mcu: cartographer   
x_offset: 0                          
y_offset: 27                         
verbose: yes # For extra output

[cartographer touch]
samples: 3
max_samples: 10
EXPERIMENTAL_home_random_radius: 5
#retract_distance: 5

[adxl345]
cs_pin: cartographer:PA0
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    155, 155, 20



########################
########################
### Mesh
########################
[bed_mesh]
speed: 300
zero_reference_position: 157.5, 160
horizontal_move_z: 5
mesh_min: 20, 31
mesh_max: 310, 260
mesh_pps: 2, 2
move_check_distance: 3
probe_count: 50,50
algorithm: bicubic


[homing_override]
axes: xyz
gcode:
 {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

 SET_KINEMATIC_POSITION Z=1
 G1 Z10 F1200

 {% if home_all or 'Y' in params %}
   G28 Y
 {% endif %}
 
 {% if home_all or 'X' in params %}
   G28 X
 {% endif %}

 {% if home_all or 'Z' in params %}
   G90
   G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y / 2} F3000	
   
   G28 Z
   G90
   G1 Z20 F1500
 {% endif %}    

[axis_twist_compensation]
speed: 100
horizontal_move_z: 5
calibrate_start_x: 20
calibrate_end_x: 310
calibrate_y:  160
calibrate_start_y: 31
calibrate_end_y: 235
calibrate_x: 157.5


###################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 36.180
#*# pid_ki = 8.933
#*# pid_kd = 36.632
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 45.163
#*# pid_ki = 2.105
#*# pid_kd = 242.185
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.5690123867278036,2.0853341056854493,0.8763101314002031,0.3674543797804344,0.31291357937338254,0.3059326957692911,-0.1818201630242504,-0.25918249392474524,0.22572488365884366,0.2056353905628818
#*# domain = 3.3433691707613e-07,3.448286930114722e-07
#*# z_offset = 0
#*# reference_temperature = 24.51
#*# software_version = 1.6.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1350
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.6.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
#*#