########################
########################
# FANS
########################

[controller_fan Octopus]
stepper: stepper_x, stepper_y, stepper_z
pin: PE5
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10
idle_timeout: 120

[controller_fan PSU]
stepper: stepper_x
pin: PA8
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10
idle_timeout: 120

[heater_fan Hotend]         
pin: sb2040:gpio15           
max_power: 1.0               
kick_start_time: 0.5        
heater: extruder            
heater_temp: 50              
fan_speed: 1.0               

[fan]
#Print Cooling Fan   min 13%
pin: PB10 #BLTouch oder Neopixel
max_power: 1
cycle_time: 0.00001
hardware_pwm: true
shutdown_speed: 0

[output_pin CPAPpowerfeed]
#in Heater1
pin: PA0
pwm: false
value: 1
shutdown_value: 0

[temperature_fan raspberry_pi]
pin: host:gpio211
kick_start_time: 0.8
#shutdown_speed: 0
off_below: 0.1
max_power: 1.0
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: 0
max_temp: 85
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.1
max_speed: 0.6
target_temp: 38