#####################################################################
#                               主板配置
#####################################################################
[mcu sb2040]  
canbus_uuid: 18e23b73cfcb


#####################################################################
#                       adxl345加速度计配置（需要时启用即可）
#####################################################################
## ADXL345加速度计
[adxl345]
cs_pin: sb2040:gpio1
spi_software_sclk_pin: sb2040:gpio0
spi_software_mosi_pin: sb2040:gpio3
spi_software_miso_pin: sb2040:gpio2
#--------------------------------------------------------------------
[resonance_tester]
accel_chip: adxl345         
probe_points: 150,150,10    

#####################################################################
#                             温度监控
#####################################################################
[temperature_sensor FLY-SB2040]   
sensor_type: temperature_mcu     
sensor_mcu: sb2040                
min_temp: 0                       
max_temp: 490                     

                

#####################################################################
#                            E 挤出机设置                            # 
#####################################################################

  
#--------------------------------------------------------------------
[tmc2209 extruder]                  
uart_pin: sb2040:gpio8              
interpolate: False                
run_current: 0.85                    
sense_resistor: 0.110              
stealthchop_threshold: 0          


#####################################################################
#                           PL08N
#####################################################################

#[probe]
#pin: ^sb2040:gpio25          
#x_offset: 0                  
#y_offset: 25.0               
#z_offset: 0                  
#speed: 10.0                  
#samples: 3                   
#samples_result: median      
#sample_retract_dist: 4.0    
#samples_tolerance: 0.010     
#samples_tolerance_retries: 3 

#--------------------------------------------------------------------
#[bltouch]
#sensor_pin: ^sb2040:gpio29   
#control_pin: sb2040:gpio28   
#x_offset: -26.1              
#y_offset: -15.3             
#z_offset: 2.1               
