########################
########################
# FANS
########################

[controller_fan Octopus]
stepper: stepper_x, stepper_y, stepper_z
pin: PA8
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10
idle_timeout: 120

#[controller_fan PSU]
#stepper: stepper_x
#pin: PA8
#max_power: 1
#shutdown_speed: 0
#kick_start_time: 0.1
#off_below: 0.10
#idle_timeout: 120

[heater_fan hotend_fan]
pin: PD12
heater: extruder
heater_temp: 50.0

########################################
# CPAP 
########################################
[fan] #        CPAP print Cooling Fan\
pin: PB10 # for ocotopus pro Endstop 7 header
max_power: 0.9 # adjust below 1 if you would like the max speed to be slower
off_below: 0.12 # minimum speed where the fan starts spinning - on octopus pro this is correct - will be lower maybe 0 on mellow Super 8 because of different GPIO pullup and protection resistors
#cycle_time: 0.002 # = 2khz - CPAP fan driver recommended range is 2-50khz
hardware_pwm: true
shutdown_speed: 0
cycle_time: 0.00002 # = 2khz - CPAP fan driver recommended range is 2-50khz


#Macro inspired by klipper-github issue https://github.com/Klipper3d/klipper/issues/2174
[gcode_macro M106]
rename_existing: G106
gcode:
    {% set P = params.P | default(0) | int %}
    {% set S = params.S | default(255) | int %}
    {% if P == 0 %}
        G106 S{S}
    {% else %}
        {% set fan = "RSCS" if P == 2 else "Exhaust_fan" %}
        SET_FAN_SPEED FAN={fan} SPEED={S / 255}
    {% endif %}

[gcode_macro M107]
rename_existing: G107
gcode:
    {% set fan = params.P|default(1)|int %}
	{% if fan == 2 %}
		SET_FAN_SPEED FAN=RSCS SPEED=0
	{% elif fan == 3 %}
		SET_FAN_SPEED FAN=Exhaust_fan SPEED=0   
	{% else %}
	  SET_FAN_SPEED FAN=RSCS SPEED=0  
	  SET_FAN_SPEED FAN=Exhaust_fan SPEED=0  
	  G107
	{% endif %}
