########################
########################
# FANS
########################



########################################
# CPAP 
########################################
[fan] #        CPAP print Cooling Fan\
pin: PB10 # LED RGB
max_power: 0.9 # adjust below 1 if you would like the max speed to be slower
off_below: 0.12 # minimum speed where the fan starts spinning - on octopus pro this is correct - will be lower maybe 0 on mellow Super 8 because of different GPIO pullup and protection resistors
#cycle_time: 0.002 # = 2khz - CPAP fan driver recommended range is 2-50khz
hardware_pwm: true
shutdown_speed: 0
cycle_time: 0.00002 # = 2khz - CPAP fan driver recommended range is 2-50khz


#Macro inspired by klipper-github issue https://github.com/Klipper3d/klipper/issues/2174
[gcode_macro M106]
rename_existing: G106
gcode:
    {% set P = params.P | default(0) | int %}
    {% set S = params.S | default(255) | int %}
    {% if P == 0 %}
        G106 S{S}
    {% else %}
        {% set fan = "RSCS" if P == 2 else "Exhaust_fan" %}
        SET_FAN_SPEED FAN={fan} SPEED={S / 255}
    {% endif %}

[gcode_macro M107]
rename_existing: G107
gcode:
    {% set fan = params.P|default(1)|int %}
	{% if fan == 2 %}
		SET_FAN_SPEED FAN=RSCS SPEED=0
	{% elif fan == 3 %}
		SET_FAN_SPEED FAN=Exhaust_fan SPEED=0   
	{% else %}
	  SET_FAN_SPEED FAN=RSCS SPEED=0  
	  SET_FAN_SPEED FAN=Exhaust_fan SPEED=0  
	  G107
	{% endif %}




########################
########################
# AUX Fans
########################

# this is the auxiliary fan
#[fan_generic RSCS] #FAN 1
#pin: PD12
#cycle_time: 0.1  #0.0001
#hardware_pwm: false
#kick_start_time: 0.2
#off_below: 0.05

##  Chamber temp / Exhaust fan (12V Fan 3 wire)

#[temperature_fan Exhaust_fan] # FAN 4
#pin: PA1
#tachometer_pin: PC3
#max_power: 1.0
#shutdown_speed: 0.1
#cycle_time: 0.0005     #2 kHz PWM signal
#hardware_pwm: true
#kick_start_time: 5.0
#sensor_type: ATC Semitec 104GT-2
#sensor_pin: PB0
#min_temp: 0
#max_temp: 70
#target_temp: 50
#control: watermark
#gcode_id: C



########################
########################
# Watercooling
########################

[thermistor water_temp]
temperature1: 0
resistance1: 27380
temperature2: 30
resistance2: 8311
temperature3: 60
resistance3: 3017

#[temperature_sensor water_cooling]
#sensor_type: water_temp
#sensor_pin: PF5  # Replace with your actual MCU pin
#min_temp: 0
#max_temp: 100
#gcode_id: W

[temperature_fan radiator_fans]
pin: PD15              # Replace with your actual fan pin
sensor_type: water_temp
sensor_pin: PF5        # Same as the sensor above
control: pid
min_speed: 0.1
max_speed: 1.0
shutdown_speed: 1.0  
min_temp: 0
max_temp: 100
target_temp: 0       # Target water temperature in Celsius
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 0.1
hardware_pwm: True
cycle_time: 0.00004 # 25 kHz

[controller_fan pump] # FAN6 +-
pin: !PD14      #FAN4
fan_speed: 1.0
shutdown_speed: 1.0  
heater: extruder
stepper:stepper_x,stepper_y,stepper_z
hardware_pwm: True
cycle_time: 0.00004 # 25 kHz


